/* 
    Document   : main
    Created on : Jun 24, 2012, 5:05:05 PM
    Author     : Bryan
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}
*{
    margin:0px;
    padding:0px;
    list-style-type:none;
}
body{
    text-align:center;
    font-family:Arial;
    font-size:12px;
    color:#303030;
}
header,nav,section,aside,footer{
    display:block;
}
img{
    border:none;
}

h3{ /*For titles*/
    margin-bottom:10px;
    font-size:22px;
    color:white;
    text-shadow:1px 1px 3px #080808;
}
h4{ /*For titles*/
    font-size:18px;
    color:#CC6600;
    text-shadow:1px 1px 3px #080808;
}
h5{ /*address prompt*/
    text-align:center;
    font-family:Arial;
    font-size:14px;
    color:#404040;
}
h6{ /*address in shipping info*/
    text-align:center;
    font-family:Arial;
    font-size:14px;
    font-weight:normal;
    color:#606060;
}
table{
    width:100%;
    text-align:left;
}
th{
    color:#888888;
    font-weight:bold;
    text-decoration:underline;
}
td{
    padding:3px 10px;
}
a:link{
    color:white;
    text-decoration:none;
}
a:visited{
    color:#006699;
    text-decoration:none;
}
a:hover{
    color:#CC6600;
    text-decoration:underline;
}
a:active{
    color:#CC6600;
    text-decoration:underline;
}
#wrapper{
    width:1000px;
    margin:10px auto 0px;
    text-align:left;
    margin-bottom:5px;
    background-color:#d3d9dc;
    position: inherit;
}
#main_header{
    /*space with logo and top links*/
    background-color:#006699;
    padding:5px;
    border-radius: 5px;
}
#top_search{
    margin-top:2px;
    padding:5px 10px 5px 10px;
    display:block;
    background-color:#006699;
    border-radius: 5px;
}
#rightAlign{
    float:right;
    text-align:right;
}
#main_section{

    margin:2px auto 0px;
    margin-top: 10px;
    margin-bottom: 10px;
    width:880px;
    height: 430px;
    text-align: center;
    background-color:#006699;
    padding:50px;
    border: solid 1px #CC6600;
    border-radius: 5px;
}
#main_section2{

    margin:2px auto 0px;
    width:780px;
    text-align: center;
    background-color:#006699;
    padding:50px;
    border: solid 1px #CC6600;
}

#main_footer{
    margin:2px auto auto;
    padding:15px;
    clear:both;
    background-color:#006699;
    border-radius: 5px;

}
.dates{
    color:#CC6600;
    font-weight:bold;
    padding:0px;
    color:white;
}
.button {
    -moz-box-shadow: 0px 1px 0px 0px #fed897;
    -webkit-box-shadow: 0px 1px 0px 0px #fed897;
    box-shadow: 0px 1px 0px 0px #fed897;
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #f6b33d), color-stop(1, #d29105) );
    background:-moz-linear-gradient( center top, #f6b33d 5%, #d29105 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6b33d', endColorstr='#d29105');
    background-color:#f6b33d;
    border:1px solid #eda933;
    display:inline-block;
    color:#ffffff;
    font-family:Arial,Helvetica,sans-serif;
    font-size:14px;
    font-weight:bold;
    padding:2px 10px;
    text-decoration:none;
    text-shadow: 1px 1px 5px #303030;
}
.button:hover {
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #d29105), color-stop(1, #f6b33d) );
    background:-moz-linear-gradient( center top, #d29105 5%, #f6b33d 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#d29105', endColorstr='#f6b33d');
    background-color:#d29105;
}
.button:active {
    position:relative;
    top:1px;
}
.links{
    color:#CC6600;
    font-weight:bold;
    margin-top:10px;
    padding:10px;	
}
p{
    margin-right:5px;
}
h2{
    color:#CC6600;
    text-shadow:1px 1px 3px #080808;
}

